Checks: |-
  llvm-include-order,
  bugprone-*,
  cert-*,
  clang-analyzer-*,
  concurrency-*,
  cppcoreguidelines-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  -bugprone-easily-swappable-parameters
  -bugprone-exception-escape
  -clang-diagnostic-*
  -cppcoreguidelines-avoid-do-while
  -cppcoreguidelines-avoid-magic-numbers
  -cppcoreguidelines-pro-bounds-constant-array-index
  -cppcoreguidelines-pro-type-union-access
  -misc-include-cleaner
  -misc-non-private-member-variables-in-classes
  -modernize-use-trailing-return-type
  -readability-function-cognitive-complexity
  -readability-identifier-length
  -readability-magic-numbers
